<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.jappnai"
        version   = "1.0.0">

    <name>Hello World</name>

    <description>
        Hello World sample application that responds to the deviceready event.
    </description>

    <author href="http://jappnai.com" email="stone_hbk619@live.com">
        PhoneGap Team
    </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    


</widget>
